<div class="m-5 d-flex justify-content-center align-items-center text-center" style="height: 60vh;">
    <div class="container w-25 p-4 border rounded shadow " style="background-color: white;">
        <form action="" class="d-flex flex-column align-items-center w-100 ">
            <h2 class="mb-4">Inicio de sesión</h2>
            <div class="form-group mb-3 w-75">
                <input type="text" class="form-control" placeholder="Usuario" style="background-color: #BFD7FF;">
            </div>
            <div class="form-group mb-4 w-75">
                <input type="password" class="form-control" placeholder="Contraseña" style="background-color: #BFD7FF;">
            </div>
            <a href="" class="w-50"><button class="btn btn-primary mb-3">Entrar</button></a>
            <p>¿No tienes cuenta? <i><a href="/registro" class="text-decoration-underline">Pulsa aquí</a></i></p>
        </form>
    </div>
</div>
